<template>
  <div>
    <div class="layout">
      <div class="navigation" :style="{minWidth: navigationSize}">
        <app-navigation @expandNavBar="sizeChanged"></app-navigation>
      </div>
      <!-- comentario -->
      <!-- DES-1 -->
      <div class="fluidContainer">
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script>
import Navigation from "./Navigation";

export default {
  data() {
    return {
      navigationSize: "6rem"
    };
  },
  components: {
    appNavigation: Navigation
  },
  methods: {
    sizeChanged(isExpanded) {
      console.log(isExpanded);
      if (isExpanded == false) {
        this.navigationSize = "15rem";
      } else {
        this.navigationSize = "6rem";
      }
    }
  }
};
</script>

<style>

.layout {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.navigation {
  display: flex;
  height: 100vh;
  transition: min-width 100ms linear;
  min-width: 15rem;
  max-width: max-content;
}

.fluidContainer {
    width: 100%;
    padding: 12px;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
}

</style>