<template>
  <div>
    <!-- Navegacion -->
    <nav class="navBar" :style="{ width: navBarWidthProp }">
      <!-- Logo -->
      <div class="navLogo">
        <!-- <div class="logo">Pabex</div> -->
        <div class="navIcon">
          <font-awesome-icon icon="bars" class="barsNav" size="4x" @click="expandNavBar()" />
        </div>
      </div>
      <ul class="navbarNav">
        <li class="navTab">
          <a
            class="navItem"
            @click="selectItem()"
            :class="{ selectedItem: isSelected, navItemHover: !isSelected }"
            :style="{'pointer-events': navItemPointerEvent, width: navItemWidthProp}"
          >
            <div class="navIcon">
              <font-awesome-icon icon="user" size="2x" />
            </div>
            <div class="navText" v-bind:style="{ display: displayProperty }">
              <div class="textTitle">Integrantes</div>
            </div>
            <div class="navArrow" v-bind:style="{ display: displayProperty }">
              <font-awesome-icon icon="sort-down" size="sm" />
            </div>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isExpanded: true,
      isSelected: false,
      displayProperty: "none",
      navItemPointerEvent: "all",
      navBarWidthProp: "6rem",
      navItemWidthProp: "4rem",
      rotateNavIcon: 0
    };
  },methods: {
    changeDisplayNone() {
      setTimeout(() => {
        this.displayProperty = "flex";
        this.navItemPointerEvent = "all";
      }, 150);
    },
    selectItem() {
      return (this.isSelected = !this.isSelected);
    },
    expandNavBar() {      
      this.$emit('expandNavBar', this.isExpanded);
      this.isExpanded = !this.isExpanded;
      if (this.isExpanded) {
        this.changeDisplayNone();
        this.navItemWidthProp = "15rem";
        this.navItemPointerEvent = "none";
        this.navBarWidthProp = "15rem";
      } else {
        this.displayProperty = "none";
        this.navBarWidthProp = "6rem";
        this.navItemWidthProp = "4rem";
      }
    }
  }
};
</script>

<style >
:root {
  --text-primary: #242323;
  --text-secondary: #ffffff;
  --bg-primary: #303a3f;
  --bg-secondary: #292930;
  --itemColor: #000000;
  --transition-speed: 100ms;
}

.navBar {
  position: fixed;
  padding: 0;
  background-color: var(--bg-primary);
  transition: width var(--transition-speed) linear;
  width: 6rem;
  padding: 1rem 1rem 0px;
}

.barsNav {
  justify-content: flex-end;
  height: 3rem;
  width: 4rem;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.navLogo {
  height: 5rem;
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logo {
  height: 23px;
  font-family: "Comfortaa";
  color: white;
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.logo:hover {
  cursor: pointer;
  transition: font-size 100ms linear;
  font-size: 26px;
}

.navbarNav {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 3rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.wrapperItemSelected {
  height: 4rem;
  border-radius: 8px;
  display: flex;
  transition: width var(--transition-speed);
}

.navItem {
  height: 4rem;
  border-radius: 8px;
  display: flex;
  transition: width var(--transition-speed);
}

.navItemHover {
  height: 4rem;
  border-radius: 8px;
  display: flex;
  transition: width var(--transition-speed);
}

.selectedItem {
  background-color: #fbc02d;
  cursor: pointer;
}

.navIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  color: var(--itemColor);
}

.navText {
  align-items: center;
  justify-content: left;
  height: 4rem;
  width: 7rem;
  font-size: 18px;
  user-select: none;
  overflow: hidden;
  color: var(--itemColor);
}

.navArrow {
  align-items: center;
  justify-content: center;
  margin-bottom: 7px;
  /* margin-right: 4px; */
  width: 2rem;
  color: var(--itemColor);
}

.navTab {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 13rem;
  margin: 5px 0px 5px 0px;
}

.navItemHover:hover {
  background-color: rgba(255, 255, 255, 0.486);
  cursor: pointer;
}
</style>
