<template>
  <div>
    <div>
          <app-layout></app-layout>
    </div>
  </div>
</template>

<script>
import Layout from './components/Layout/Layout';

export default {
  components: {
    appLayout: Layout,
  }
};
</script>

<style>
body {
  margin: 0;
  padding: 0;
}
</style>
